*{
    font-family: monospace ;
    /* border: 2px solid red; */
}
body{
    font-size: 22px;
    
}

h1,h2{
    color: rgb(6, 49, 49);
}

.grey{
    color: grey;
}

p{
    color: purple;
}
p{
    color: rgb(17, 139, 23);
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}



#second{
    font-style: italic;
}